<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>KeepAlive</key>
    <false/>
    <key>Label</key>
    <string>come.microsoft.RouteAdd</string>
    <key>ProgramArguments</key>
    <array>
      <string>/bin/bash</string>
      <string>-c</string>
      <string>
      <![CDATA[
      date
      name=$(tail -r /Library/Logs/PaloAltoNetworks/GlobalProtect/PanGPS.log | grep -m1 "iface status change, .* up" | awk -F', ' '{print $2}' | awk '{print $1}')
      route delete -host 20.75.99.116
      route add -host 20.75.99.116 -interface $name
      ]]>
      </string>
    </array>
    <key>WatchPaths</key>
    <array>
      <string>/Library/Logs/PaloAltoNetworks/GlobalProtect/network/config/</string>
    </array>
    <key>StandardOutPath</key>
    <string>/var/log/route.log</string>
    <key>StandardErrorPath</key>
    <string>/var/log/route.log</string>
  </dict>
</plist>
